**/node_modules/*
**package-lock.json
**yarn.lock
**.DS_Store
**.env
**.env.local
**.env.development
**.env.test
**.env.production
**.vscode/*
**.idea/*
**.eslintcache
**.prettiercache
**dist/*
**build/*
**coverage/*
**logs/*
**.log
**.tmp
**.cache
**.next/*
**.nuxt/*
**.vuepress/*
**.serverless/*
**.parcel-cache/*
**.webpack-cache/*
**.babelrc
**.babelrc.js
**.eslintrc
**.eslintrc.js
**.prettierrc
**.prettierrc.js
**.stylelintrc
**.stylelintrc.js
**.editorconfig
**.eslintignore
**.prettierignore
**.stylelintignore